In [1]:
# Importing necessary libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

In [2]:
# reading in the dataset

insurance_data = pd.read_csv("insuranceData.csv")

In [3]:
insurance_data.head(7) # viewing the first 7 rows to better understand the data

   age     bmi  children smoker      charges
0   19  27.900         0    yes  16884.92400
1   18  33.770         1     no   1725.55230
2   28  33.000         3     no   4449.46200
3   33  22.705         0     no  21984.47061
4   32  28.880         0     no   3866.85520
5   31  25.740         0     no   3756.62160
6   46  33.440         1     no   8240.58960

In [5]:
# checking the data types

insurance_data.dtypes

age           int64
bmi         float64
children      int64
smoker       object
charges     float64
dtype: object

In [9]:
# Label Encoding & OneHotEncoding of categorical data

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

insurance_data_le = insurance_data.copy()
labelencoder = LabelEncoder()

insurance_data_le['Smoker LE'] = labelencoder.fit_transform(insurance_data_le['smoker']) # using Label Encoding to transform values into numeric
insurance_data_le[['Smoker LE', 'smoker']].sample(5) # preview to see what if our change worked

      Smoker LE smoker
914           0     no
1304          1    yes
759           1    yes
801           0     no
315           0     no

In [ ]:
# splitting the dataset into the Training set and Test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state = 7) # setting test size to 15%